{{if .HaveInfo}}
<div class="alert alert-danger alert-dismissible fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{.Info}}
</div>
{{end}}
<br>
<div class="container">
    <h2>Problems</h2>
    <br>
    <div class="card">
        <div class="card-header">
          {{if $.Isadmin}}
            <a class="gray" href="#" data-toggle="modal" data-target="#addModal"><i class="fa fa-plus"></i></a>
            {{end}}
        </div>
        <ul class="list-group list-group-flush">
            {{range .Problems}}
            <li class="list-group-item">
                <strong><a href="/problem?id={{.ID}}" class="black">{{if isAccepeted .ID $.HaveAccepted}}<del>{{.Title}}</del>{{else}}{{.Title}}{{end}}</a></strong>&nbsp;&nbsp;
                {{if $.Isadmin}}
                <a href="#" class="pull-right" data-toggle="modal" data-target="#editModal{{.ID}}"><i class="fa fa-pencil"></i></a>
                {{end}}
                <!-- <span class="label label-danger">math</span> -->
                <br>
                <small class="comment-phrase"> #{{.ID}} {{.AcRate}}%({{.Ac}}/{{.Total}})</small>
            </li>
            <div id="editModal{{.ID}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Edit Problem</h4>
                        </div>
                        <div class="modal-body">
                            <form id="editproblemform{{.ID}}">
                                <label for="id" class="control-label">id:</label>
                                <input type="text" name="id" class="form-control" readonly value="{{.ID}}">
                                <label for="title" class="control-label">title:</label>
                                <input type="text" name="title" class="form-control" value="{{.Title}}">
                                <label for="display" class="control-label">Display (1: can, 0: not):</label>
                                <select class="form-control" name="display">
                                  <option {{if eq .Display 0}} selected="selected" {{end}}>0</option>
                                  <option {{if eq .Display 1}} selected="selected" {{end}}>1</option>
                                </select>
                                <label for="time" class="control-label">time:</label>
                                <input type="text" name="time" class="form-control" value="{{.Time}}">
                                <label for="memory" class="control-label">memory:</label>
                                <input type="text" name="memory" class="form-control" value="{{.Memory}}">
                                <label for="description" class="control-label">description:</label>
                                <textarea name="description" class="form-control" >{{.Description}}</textarea>
                                <label for="sampleinput" class="control-label">sample input:</label>
                                <textarea name="sampleinput" class="form-control">{{.SampleInput}}</textarea>
                                <label for="sampleoutput" class="control-label">sample output:</label>
                                <textarea name="sampleoutput" class="form-control">{{.SampleOutput}}</textarea>
                                <label for="standardinput" class="control-label">standard input:</label>
                                <textarea name="standardinput" class="form-control">{{.StandardInput}}</textarea>
                                <label for="standardoutput" class="control-label">standard output:</label>
                                <textarea name="standardoutput" class="form-control">{{.StandardOutput}}</textarea>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <input type="submit" id="submitRemoveProblem{{.ID}}" data-dismiss="modal" class="btn btn-danger" value="Remove Problem">
                            <input type="submit" id="submitUpdateProblem{{.ID}}" data-dismiss="modal" class="btn btn-primary" value="Save Problem">
                        </div>
                    </div>
                </div>
            </div>
            <script>
              $(document).ready(function () {
                $("input#submitUpdateProblem{{.ID}}").click(function () {
                    $.ajax({
                        type: "POST",
                        url: "/problem/update",
                        data: $('form#editproblemform{{.ID}}').serialize(),
                        success: function (msg) {
                          window.location.href = "/"
                        },
                        error: function () {
                            //alert("failure");
                        }
                    });
                });
                $("input#submitRemoveProblem{{.ID}}").click(function () {
                    $.ajax({
                        type: "POST",
                        url: "/problem/remove",
                        data: $('form#editproblemform{{.ID}}').serialize(),
                        success: function (msg) {
                          window.location.href = "/"
                        },
                        error: function () {
                            //alert("failure");
                        }
                    });
                });
            });
            </script>
            {{end}}
        </ul>
    </div>
    <nav>
        <ul class="pagination">
            <li class="page-item {{if not .CanPrevious}}disabled{{end}}">
                <a class="page-link" href="/problem?page={{.PreviousPage}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            {{range .Pagination}}
              <li class="page-item {{if eq $.CurrentPage .}}active{{end}}"><a class="page-link" href="/problems?page={{.}}">{{.}}</a></li>
            {{end}}
            <li class="page-item {{if not .CanNext}}disabled{{end}} ">
                <a class="page-link" href="/problem?page={{.NextPage}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<div id="addModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Add Problem</h4>
            </div>
            <div class="modal-body">
                <form id="addproblemform">
                    <label for="title" class="control-label">title:</label>
                    <input type="text" name="title" class="form-control">
                    <label for="time" class="control-label">time:</label>
                    <input type="text" name="time" class="form-control">
                    <label for="memory" class="control-label">memory:</label>
                    <input type="text" name="memory" class="form-control">
                    <label for="description" class="control-label">description:</label>
                    <textarea name="description" class="form-control"></textarea>
                    <label for="sampleinput" class="control-label">sample input:</label>
                    <textarea name="sampleinput" class="form-control"></textarea>
                    <label for="sampleoutput" class="control-label">sample output:</label>
                    <textarea name="sampleoutput" class="form-control"></textarea>
                    <label for="standardinput" class="control-label">standard input:</label>
                    <textarea name="standardinput" class="form-control"></textarea>
                    <label for="standardoutput" class="control-label">standard output:</label>
                    <textarea name="standardoutput" class="form-control"></textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                <input type="submit" id="submitAddProblem" data-dismiss="modal" class="btn btn-primary" value="Save Problem">
            </div>
        </div>
    </div>
</div>



<script>
  $(document).ready(function () {
    $("input#submitAddProblem").click(function () {
        $.ajax({
            type: "POST",
            url: "/problem/add",
            data: $('form#addproblemform').serialize(),
            success: function (msg) {
              window.location.href = "/contest"
            },
            error: function () {
                //alert("failure");
            }
        });
    });
});
</script>
